.pokemons{
    flex-basis: 20%;
    /* height: 250px;
    width: 250px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.pokemon-image{
    margin-top: 1.5rem;
    height: 150px;
    /* max-height: 80%; */
}

.pokemon-name{
    /* margin-top: 1.5rem; */
    letter-spacing: 5px;
    font-size: large;
}

.pokemons:hover{
    background-color: beige;
}
